<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <span class="text-muted">&copy; 2018 onClick</span>
        <p>Don't forget to follow us on social meadia</p>
        <a href="#"><i class="fab fa-instagram mr-1"></i>Instagram</a>
        <a href="#"><i class="fab fa-facebook-square mr-1"></i>Facebook</a>
        <a href="#"><i class="fab fa-linkedin mr-1"></i>LinkedIn</a>
    </div>
</footer>
<!-- End of footer-->