<!-- Footer -->
<footer class="footer bg-dark border-top">
    <div class="container">
        <div class="row">
            <div class="text-muted col-md-12">
                &copy; 2018 onClick
            <p>Don't forget to follow us on social meadia</p>
            <a href="#"><i class="fab fa-instagram mr-1"></i>Instagram</a>
            <a href="#"><i class="fab fa-facebook-square mr-1"></i>Facebook</a>
            <a href="#"><i class="fab fa-linkedin mr-1"></i>LinkedIn</a>
            </div>
        </div>
    </div>
</footer>
<!-- End of footer-->