<!-- Navbar -->
<nav class="navbar navbar-expand-lg green-line-navbar navbar-dark bg-light fixed-top">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon custom-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <!--  Added ml-0 mt-1 mb-0 pl-0 pt-2 classes so img link lines up with ul li links on small screens-->
        <a href="/home" class="navbar-brand"> <img class="nav-link nav-logo mx-5 my-1" src="assets/images/onclick-logo.png" alt="Home"></a>
        <ul class="navbar-nav ml-5">
            <li class="nav-item">
                <a class="nav-link text-white" href="/about">About</a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link text-white" href="/portfolio">Portfolio</a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link text-white" href="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<!-- End navbar-->