
<!-- Latest compiled and bootstrap minified CSS -->
<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<!-- Custom Stylesheets -->
<link rel="stylesheet" href="../assets/css/styles.css">


<!--Font Awesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


<!-- Popper js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>


<!-- Bootstrap Js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<!-- Editor -->
<script type="text/javascript" src="../assets/js/ckeditor.js"></script>
</head>

<title><%= title %></title>

<% include partials/navbar.ejs %>


<section id="actions" class="py-4 mb-4 dashboardActionButtons bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#addPostModal"><i
                            class="fa fa-plus"></i> Add post</a>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#addClientModal"><i
                            class="fa fa-plus"></i> Clients</a>
            </div>
            <div class="col-md-3">
                <a href="/portfolio" class="btn btn-outline-warning btn-block" data-toggle="modal"
                   data-target="#clientsModal"><i
                            class="fa fa-plus"></i> Portfolio</a>
            </div>
        </div>
    </div>
</section>

<section id="post">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4> Client Name </h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#Id</th>
                            <th>Client</th>
                            <th>Phone</th>
                            <th>Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row">2</td>
                            <td>Name</td>
                            <td>Contact</td>
                            <td>Reason to call</td>
                        </tr>
                        <tr>
                            <td scope="row">3</td>
                            <td>Name</td>
                            <td>Contact</td>
                            <td>Reason to call</td>
                        </tr>
                        <tr>
                            <td scope="row">3</td>
                            <td>Name</td>
                            <td>Contact</td>
                            <td>Reason to call</td>
                        </tr>
                        <tr>
                            <td scope="row">4</td>
                            <td>Name</td>
                            <td>Contact</td>
                            <td>Reason to call</td>
                        </tr>
                        <tr>
                            <td scope="row">5</td>
                            <td>Name</td>
                            <td>Contact</td>
                            <td>Reason to call</td>
                        </tr>
                        <tr>
                            <td scope="row">6</td>
                            <td>Name</td>
                            <td>Contact</td>
                            <td>Reason to call</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center bg-primary text-white mb-3">
                    <div class="card-body">
                        <h3>Clients</h3>
                        <h1 class="display-4">
                            <i class="fas fa-users"></i>
                            <% for (var i = 0; i <= user.length; i++) { %>
                            <% if (user.length == 0) { %>
                            0
                            <% } else { %>
                            <%= user.length %>
                            <% } %>
                            <% } %>
                        </h1>
                        <a href="/registered" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Projects</h3>
                        <h1 class="display-4">
                            <i class="far fa-folder-open"></i> 6
                        </h1>
                        <a href="/portfolio" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer.ejs %>

<div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Add Post</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="post">
                    <div class="form-group">
                        <label for="title">Company</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="url">Url</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="editor" type="text" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="file">Image</label>
                        <input type="file" class="form-control-file">
                        <small class="form-text text-muted">Max size 3mb</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-success" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addClientModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Add Client</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="/contact" method="POST" id="contactPage" class="form">

                    </br>

                    <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control mb-2" placeholder="First name" name="firstName" autofocus
                               required>
                    </div>

                    <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control mb-2" placeholder="Last name" name="lastName" required>
                    </div>

                    <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control mb-2" placeholder="555-555-0123" name="phone" required>
                    </div>

                    <div class="form-group">
                        <label for=""></label>
                        <input type="email" class="form-control mb-2" placeholder="Someone@onclick.com" name="email">


                        <div class="form-group">
                            <label for="">Do they need a website?</label>
                            <input type="checkbox" class="" name="webVal">
                        </div>

                        <div class="form-group">
                            <label for="">Do they need a logo?</label>
                            <input type="checkbox" class="" name="webVal">
                        </div>

                        <div class="form-group">
                            <label for="">Do they have a hard copy of their logo idea?</label>
                            <input type="checkbox" class="" name="webVal">
                        </div>

                        <div class="form-group">
                            <label for=""></label>
                            <textarea type="text" id="" class="form-control mb-2" placeholder="Your message"
                                      name="message"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-success" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="clientsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title">List of Clients</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="post">
                    <div class="form-group">
                        <label for="title">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="url">Contact</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description">Message</label>
                        <textarea name="" id="" type="text" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ), {
            toolbar: [ 'bold', 'italic' ]
        })
        .catch( error => {
            console.error( error );
        } );
</script>