<!-- Editor -->
<script type="text/javascript" src="../assets/js/ckeditor.js"></script>

<!-- Latest compiled and bootstrap minified CSS -->
<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<!-- Custom Stylesheets -->
<link rel="stylesheet" href="../assets/css/styles.css">


<!--Font Awesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<!-- Sccripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


</head>
<title><%= title %></title>
<body>

    <% include ./partials/navbar.ejs %>
    <% include ./partials/jumbotron.ejs %>

    <!-- Main content here --> 
<div class="container-fluid d-lg-flex d-md-inline-flex d-sm-block mx-0 my-4 px-5">

<!-- added container so text stays within margins for mobile -->
    <section class="whoWhatHow d-lg-flex d-md-inline-flex d-sm-block mx-0 my-4 px-5 py-5 bg-light">

        <div class="whoAreWe col-lg-4 col-md-3 col-sm-1 d-block">
            <i class="fas fa-power-off fa-7x float-left p-2"></i>
            <h1 class="my-4 p-2 d-block">Who Are We?</h1>
            <p class="m-4">We are dedicated developers of dynamic websites and applications. Curators of all things creative (and do mean ALL!). Masters at making your marketing dreams a reality! We are onClick Services, here for all your business needs! </p>
        </div>

        <div class="whatWeDo col-lg-4 col-md-3 col-sm-1 d-block">
                <i class="fas fa-globe fa-7x float-left p-2"></i>
                <h1 class="my-4 p-2 d-block">What We Do?</h1>
                <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis corporis dignissimos dolor doloremque eaque, explicabo fugit incidunt nam nisi omnis quaerat, quidem quisquam ratione sequi sint temporibus. Ipsum, modi?</p>
        </div>

        <div class="howWeWork col-lg-4 col-md-3 col-sm-1 d-block">
            <i class="fas fa-sitemap fa-7x float-left p-2"></i>
            <h1 class="my-4 p-2 d-block">How We Work?</h1>
            <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis corporis dignissimos dolor doloremque eaque, explicabo fugit incidunt nam nisi omnis quaerat, quidem quisquam ratione sequi sint temporibus. Ipsum, modi?</p>
        </div>
    </section>
    <!-- End main content -->
</div>
    <% include ./partials/footer.ejs %>
</body>
