<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Author Tag -->
	<meta name="author" content="co-authored by Byron Buyck, Perry Craft, Floyd Holt, Philip Simmons">
	<!-- Keywords Tag -->
	<meta name="keywords" content="web, design, development, branding, logo, logos, flyers, flyer, brochure, business, card, cards, marketing, ad, ads, app, apps, angularjs, reactjs, nodejs, mongodb, expressjs, java, html, css, javascript, bootstrap, adobe cc, responsive, vector, art, svg, mock, mocks">
	<!-- Decription Tag -->
  	<meta name="description" content="Designing the web for now and the future">
	<title>SEO Demo</title>
</head>
<body>
	
</body>
</html>