/*.button-flash {*/
	/*border-color :#808080;*/
	/*-webkit-animation: flash linear 1s infinite;*/
	/*animation: flash linear 2s infinite;*/
/*}*/
/*@-webkit-keyframes flash {*/
	/*0% { opacity: .7; }*/
	/*50% { opacity: .1; }*/
	/*100% { opacity: .7; }*/
/*}*/
/*@keyframes flash {*/
	/*0% { opacity: .7; }*/
	/*50% { opacity: .1; }*/
	/*100% { opacity: .7; }*/
/*}*/
/*.btn-outline-success, .btn-outline-warning, .btn-outline-secondary{*/
	/*background-color: #59B069;*/
	/*color: #fff;*/
/*}*/
/*.btn-outline-success:hover, .btn-outline-warning:hover, .btn-outline-secondary:hover{*/
	/*background-color: #fff;*/
	/*color: #59B069;*/
	/*border-width: .2rem;*/
/*}*/
/*@keyframes blink{*/
	/*50%{border-color: #808080;}*/
/*}*/
/*button{*/
	/*animation-name: blink;*/
	/*animation-duration: .5s;*/
	/*animation-timing-function: step-end;*/
	/*animation-iteration-count: infinite;*/
	/*animation-direction: alternate;*/
/*}*/