@import "oc_variables.css";

/* Jumbotron Styling */
.jumbotron-fluid {
    background-image: url("../images/black-and-white-blur-gray-34088.jpg");
    background-position: center;
    background-size: cover;
    color: var(--oc-white);
    height: 40rem;
    padding-top: 8rem;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.jumbotron-fluid a {
    color: var(--oc-main-bg-color);
    font-weight: bold;
}
.jumbotron-fluid a:hover {
    color: var(--oc-green);
}
.jumbotron-fluid p {
    font-size: 1rem;
}

.oc-span {
    color: var(--oc-green);
}

.btn{
    background-color: var(--oc-main-bg-color);
    color: var(--oc-white);
}
/* End of jumbotron styling */