@import "oc_variables.css";

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Century Gothic";
    font-weight: 700;
}
.welcome-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--oc-black);
    overflow: hidden;
}
.welcome-section .content-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.welcome-section .content-wrap .fly-in-text {
    list-style: none;
}

.fly-in-text li:first-child:first-letter {
    color: var(--oc-green);
}

.welcome-section .content-wrap .fly-in-text li {
    display: inline-block;
    margin-right: 30px;
    font-size: 4.5em;
    color: #fff;
    opacity: 1;
    transition: all 2s ease;
}
.welcome-section .content-wrap .fly-in-text li:last-child {
    margin-right: 0;
}
.welcome-section .content-wrap .enter-button {
    display: block;
    text-align: center;
    font-size: 2.25em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--oc-green);
    opacity: 1;
    transition: all 1s ease 2s;
}

.welcome-section.content-hidden .content-wrap .fly-in-text li { opacity: 0; }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(1) { transform: translate3d(-100px, 0, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(2) { transform: translate3d(100px, 0, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(3) { transform: translate3d(-110px, 0, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(4) { transform: translate3d(110px, 0, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(5) { transform: translate3d(-120px, 0, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(6) { transform: translate3d(120px, 0, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(7) { transform: translate3d(-130px, 0, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(8) { transform: translate3d(-100px, 0, 0); }
.welcome-section.content-hidden .content-wrap .enter-button { opacity: 0; transform: translate3d(0, -30px, 0); }

/*@media (min-width: 600px) {*/
    /*.welcome-section .content-wrap .fly-in-text li { font-size: 2em; }*/
    /*.welcome-section .content-wrap .enter-button { font-size: 1.5em; }*/
/*}*/