:root {
    /* Color variables*/
    --oc-main-color: #598069;
    --oc-main-bg-color: #535353;
    --oc-alt-bg-color: #808080;
    --oc-white: #FEFEFE;
    --oc-black: #000;
    --oc-green: #59B069;

    /* End of color variables*/

    /* Sizing variables */
    --oc-min-view-width: 400px;
    /* End of sizing variables */

}