:root {
    /* Color variables*/
    --oc-main-color: #598069;
    --oc-main-bg-color: #535454;
    --oc-alt-bg-color: #808080;
    --oc-white: #FFF;
    --oc-black: #000;
    --oc-green: #59B069;
    --oc-alt-green: #30a64a;
    --oc-blue: #0CB6F9;
    --oc-light-grey: #E8E8E8;
    --oc-yellow: #FFBF46;

    /* End of color variables*/

    /* Sizing variables */
    --oc-min-view-width: 400px;
    /* End of sizing variables */

}