@import "oc_variables.css";
@import "landing.css";

.bg-black {
    background: var(--oc-black);
    color: var(--oc-white);
}

#main-header img {
    width: 80%;
    height: 20%;
}


/* Site styling */
body{
    font-family: "Century Gothic";
    background-color: var(--oc-alt-bg-color);
    margin: 0 0;
}

.form-control {
    border: 0px solid;
    border-bottom:1px solid;
    border-bottom-color: var(--oc-green);
}

.btn:hover{
background-color: var(--oc-green);
}

.btn-outline-primary{
    border-color: var(--oc-green);
    color: var(--oc-green);
}

.btn-outline-primary:hover{
    background-color: var(--oc-green);
    border-color: var(--oc-green);
}

.btn-outline-primary:focus {
    outline-color: #000;: ;
}

::placeholder {
    color: var(--oc-green);
    opacity: 1;
}

section{
    margin-top: inherit;
}

hr {
    border-color: var(--oc-green);
}

/* End of site styling*/

/* Navbar styling */
.navbar a{
    color: var(--oc-white);
    font-size: 15px;
}
a:hover{
    color: var(--oc-green);
    text-decoration: none;
}


.navbar {
    background-color: var(--oc-main-bg-color)!important;
    border-bottom: 1px solid transparent;
    font-size: 20px;
}

.navbar-brand {
    display: inline;
    margin-right: 52rem;
}
button.navbar-toggler.custom-toggler{
    border-color: white;
    color: white;
}


/*.nav-image {*/
/*background-image: url("../images/onClick.svg");*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

.nav-logo{
    height: 2.25rem;
}
nav ul li {
    font-size: 24px;
}

.green-line-navbar {
border-bottom: 8px solid var(--oc-alt-green);
}
/* End of navbar styling*/

/* Homepage styling*/

.fa-power-off{
    color: var(--oc-green);
}

.fa-globe {
    color: var(--oc-blue);
}

.fa-sitemap{
    color: var(--oc-yellow);
}
.oc-border-right {
    border-right: 1px solid var(--oc-green);
}

   /* End of homepage styling */

/* Footer styling */
/*Added text-align property to center icons and text in footer*/
footer {
    background-color: var(--oc-main-bg-color)!important;
    text-align: center;
}
/*Added margin 0 and padding 0 to links for better icon spacing*/
footer a{
    color: var(--oc-white);
    margin: 0;
    padding: 0;
}
/*took margin-left property off to be able to center icons*/
footer .icons{
    color: var(--oc-white);
}

.green-line-footer {
    border-top: 8px solid var(--oc-alt-green);
}
/* End of footer styling*/

/* Dashboard styling */
.dashboardActionButtons {
    margin-top: 4em;
}

/* End of dashboard styling */


#thanks-para{
    font-weight: 200;
}

/* Thank you page styling*/
#thanks-header, #thanks-para{
    text-align: center;
    font-size: 1.5rem;
}
#thanks-para{
    color: #fff;
    font-weight: normal;
}
#thanks-header{
    font-size: 3rem;
}

/* Home screen media queries*/

@media only screen and (max-width: 600px) {
    .small-screen-green-text {
        color: var(--oc-green);
    }
}

@media only screen and (max-width:600px) {
    .oc-border-right {
        border-right: transparent;
    }
}
/* End of home screen media queries */